

html {
  overflow: hidden;
  height: 100%;
  font-family:"Courier New", Courier, monospace;
}
body {
    background-image:linear-gradient(black,#C54A3A,white);
    width: 100%;
    height:100%;
    padding: 0;
    overflow: auto;
}
#popup {
  background: #bbb4aa;
  margin: 0;
  padding: 1em 1em 1em 1em;
  position: absolute;
  top: 40%;
  width: 100%;
  overflow: auto;
  display: block;
}

#login_user_div {
  left: 40%;
}
#login_pwd_div {
  left: 50%;
}

.name_status_img {
  width: 20px;
  height: 20px;
}
#site_div {

      display: none;
}

#displayusername {
  background: #bbb4aa;
  color: white;
  margin: 0;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
  width: 6em;
  overflow: auto;
  font-size: 24px;
}
