

html {
  overflow: hidden;
  height: 100%;
  padding: 0;
  font-family:"Courier New", Courier, monospace;
}
body {
    background-image:linear-gradient(black,#C54A3A,white);
    width: 100%;
    height:100%;
    padding: 0;
    overflow: auto;
}
#popup {
  background: #bbb4aa;
  margin: 0;
  padding: 1em 1em 1em 1em;
  position: absolute;
  top: 40%;
  width: 100%;
  overflow: auto;
  display: block;
}

#login_user_div {
  padding-left: 40%;
}
#login_pwd_div {
  padding-left: 42%;
}

.login_buttons {
  padding-left: 45%;
}
.login_button {
  color: black;
  cursor:pointer;
}
.login_button:hover {
  cursor:pointer;
  text-shadow: 2px 2px black;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
#rem:hover {
  font-style: italic;
}

.name_status_img {
  width: 20px;
  height: 20px;
}
.signup_login_img {
  width: 20px;
  height: 20px;
}
#site_div {
  display: none;
}

#displayusername {
}

.site_page {
  display:none;
  background: #bbb4aa;
  position:absolute;
  left:12em;
  top:5em;
  width: 70%;
  padding: 2em 2em 2em 2em;
}

#contact_me{
}

table.contact_me_table td{
	border:1px;
	border-style:solid;
	border-collapse:collapse;
}

table.contact_me_table {
	border:1px;
	border-style:solid;
	border-collapse:collapse;
	margin-left:100px
}

.functional_btn {
  cursor:pointer;
  background: #bbb4aa;
  color: white;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 8em;
  overflow: auto;
  font-size: 24px;
}
.functional_btn:hover {
  text-shadow: 2px 2px white;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
